<?xml version="1.0"?>
<launch>
    <!-- Values passed by command line input -->
    <arg name="model" />
    <arg name="gui" default="false" />

    <!-- Setting the parameters on the Parameter Server -->
    <param name="robot_description"
        textfile="$(find ros_robotics)/urdf/$(arg model)"
    />
    <param name="use_ui" value="$(arg gui)" />

    <!-- joint_state_publisher: -->
    <!--    Reads the robot_description param from the Param Server, -->
    <!-- finds all non-fixed joints and publishes a JointState -->
    <!-- message with all those joints. It can be used with -->
    <!-- robot_state_publisher to publish tfs for all joints states. -->
    <!-- http://wiki.ros.org/joint_state_publisher -->
    <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher"
    />

    <!-- robot_state_publisher: -->
    <!--    Takes the joint angles from the robots and publishes -->
    <!-- the 3D poses of the robot links -->
    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
    />

    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find ros_robotics)/rviz/urdf.rviz"
        required="true"
    />

</launch>

